<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章中的实例Computed.</title>
    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
</head>
<body>
<div id="vueInstance">
  输入一个数字: <input type="text" v-model="value1">
  <p>计算结果：{{ square }}</p>
  <br/><br/><br/>
  输入1~10内的数字: <input type="text" v-model="value2">
  <p>计算结果：{{ resultMsg }}</p>
</div>

<script>
  var V = new Vue({
    el : '#vueInstance',
    data : {
      value1 :1,
      value2 : null,
      randNum : 5//第一次随机数为5
    },
    methods : {
      getRandNum: function(min, max){
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }
    },
    computed : {
      square : function(){
        return this.value1 * this.value1;
      },
      resultMsg : function(){
        if (this.value2 == this.randNum) {
          this.randNum = this.getRandNum(1, 10);
          return '你猜对了!';
        } else {
          this.randNum = this.getRandNum(1, 10);
          return '猜错了，再来!';
        }
      }
    }
  });
</script>

</body>
</html>
