<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>组件创建方式2</title>
  <script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
</head>
<body>
  <div id="vueInstance">
    <mine></mine>
  </div>

  <template id="mineTpl">
    <div>
      <p>My name is Appian.</p>
      <button>点击也没有任何事件</button>
    </div>
  </template>

  <script>
    Vue.component('mine',{   //这里就是注册的内容
      template : '#mineTpl'
    });

    var V = new Vue({
      el : '#vueInstance'
    });
  </script>
</body>
</html>
