<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>父子组件props传值</title>
    <script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
</head>
<body>
  <div id="vueInstance">
    <mine :name='name'
          :title='title'
          :city='city'
          :content='content'
    ></mine>
  </div>

  <template id="mineTpl">
    <div>
      <h1>{{ name }}</h1>
      <h2>{{ title }}</h2>
      <h3>{{ city }}</h3>
      <p>{{ content }}</p>
    </div>
  </template>

  <script>
    Vue.component('mine',{
      template : '#mineTpl',
      props : ['name','title','city','content']
    });

    var V = new Vue({
      el : '#vueInstance',
      data : {
        name : 'Appian',
        title : 'This is a title',
        city : 'FuJian-XiaMen',
        content : 'There are some desc about Appians Blog'
      }
    });
  </script>
</body>
</html>
