<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>使用Props</title>
  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
  <style>
    *{
      padding: 0;
      margin: 0 ;
    }
    .testbox {
      border: 3px dashed #FF8290;
      margin: 10px 15px;
      padding: 10px;
    }
  </style>
</head>
<body>
<!--1.使用props传递数据-->
<div class="testbox" id="example1">
  <my my-message="hello"></my>
  <!--肉串式-->
</div>
<script>
  Vue.component('my',{
    props : ['myMessage'],
    template : '<span>{{myMessage}}</span>'
//				<!--驼峰式-->
  });
  new Vue({
    el : "#example1"
  })
</script>
<!--1.使用props传递数据结束-->



<!--2.动态props-->
<div class="testbox" id="example2">
  <input v-model="a"/>
  <childs v-bind:my-message="a"></childs>
  <!--为了传递数字就要用动态传递-->
</div>
<script>
  Vue.component('childs',{
    props : ['myMessage'],
    template : '<span>{{myMessage}}</span>'
  });
  new Vue({
    el : "#example2"
  });
</script>
<!--2.动态props结束-->

</body>
</html>
