<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>父子组件通信</title>
  <script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
</head>
<body>
<!-- 父组件模板开始 -->
<div id="events-template">
  <p>Messages : {{messages}}</p>
  <child v-on:msg-change="change"></child>
</div>
<!-- 父组件模板结束 -->

<!-- 子组件模板开始 -->
<template id="child-template">
  <div>
    <input v-model="msg" />
    <button @click="notify">eventbus的emit</button>
  </div>
</template>
<!-- 子组件模板结束 -->

<script>
  // 注册子组件
  // 将当前消息派发出去
  var child = Vue.component('child',{
    template : "#child-template",
    data : function(){
      return  {
        msg : 'hello'
      }
    },
    methods :{
      notify :  function(){
        if(this.msg.trim()){
          console.log(this.$emit);
          this.$emit('msg-change',this.msg);
          this.msg = '';
        }
      }
    }
  });

  // 启动父组件
  // 将收到消息时将事件推入一个数组
  var parent = new Vue({
    el : "#events-template",
    data : {
      messages : []
    },
    methods : {
      change : function(msg){ //方法名不能为肉串
        console.log(msg);
        this.messages.push(msg);
      }
    }
  })
</script>
</body>
</html>
