<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>父子组件通信</title>
  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
</head>
<body>
<!--1.自定义事件-->
<!-- 子组件模板 -->
<template id="child-template">
  <input v-model="msg" />
  <button v-on:click="notify">dispath派发</button>
</template>
<!-- 父组件模板 -->
<div id="events-template">
  <p>Messages : {{messages | json}}</p>
  <child></child>
</div>

<script>
  // 注册子组件
  // 将当前消息派发出去
  Vue.component('child',{
    template : "#child-template",
    data : function(){
      return  { msg : 'hello'}
    },
    methods :{
      notify :  function(){
        if(this.msg.trim()){
          this.$dispatch('child-msg',this.msg);
          this.msg = '';
        }
      }
    }
  })

  // 启动父组件
  // 将收到消息时将事件推入一个数组
  var parent = new Vue({
    el : "#events-template",
    data : {
      messages : []
    },
    events : {
      'child-msg' : function(msg){
        this.messages.push(msg);
      }
    }
  })
</script>
<!--1.自定义事件结束-->
</body>
</html>
