<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>组件使用实例2</title>
  <script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
  <style>
    .on{
      font-weight: bold;
      color: red;
    }
  </style>
</head>
<body>
<!--1.直接使用过滤器-->
<div id="app1">
        <task :list="tasks"></task>
    </div>

    <template id="temp1">
      <div>
        <h2>统计黑色({{remaining}})</h2>
        <ul>
            <li v-for="task in list" :class="{'on' : task.press}" @click="task.press =!task.press">{{task.name}} ~~ {{task.plan}}</li>
        </ul>
      </div>
    </template>

    <script>
        new Vue({
            el :"#app1",
            data : {
                tasks : [
                    { name : 'zhang', plan : 'java', press : true},
                    { name : 'liang', plan : 'c++', press : false },
                    { name : 'lai', plan : 'php', press : false }
                ]
            },
            components : {
                'task' :{
                    template : "#temp1",
                    props : ['list'],
                    computed : {
                        remaining : function(){
                            return this.list.filter(function(task){
                                return !task.press;
                            }).length;
                        }
                    }
                }
            }
        })
    </script>
<!--1.直接使用过滤器结束-->


<!--2.使用过滤器的另一种方法-->
<!--<div id="app2">
        <task :list="tasks"></task>
    </div>

    <template id="temp2">
      <div>
        <h2>统计黑色({{remaining}})</h2>
        <ul>
          <li v-for="task in list" :class="{'on' : task.press}" @click="task.press =!task.press">{{task.name}} ~~ {{task.plan}}</li>
        </ul>
      </div>
    </template>

    <script>
        new Vue({
            el :"#app2",
            data : {
                tasks : [
                    { name : 'zhang', plan : 'java', press : true},
                    { name : 'liang', plan : 'c++', press : false },
                    { name : 'lai', plan : 'php', press : false }
                ]
            },
            components : {
                'task' :{
                    template : "#temp2",
                    props : ['list'],
                    computed : {
                        remaining : function(){
                            return this.list.filter((task) => {
                                return !this.isCompleted(task);
                            }).length;
                        }
                    },
                    methods :{
                        isCompleted : function(task){
                            return task.press;
                        }
                    }

                }
            }
        })
    </script>-->
<!--2.使用过滤器的另一种方法结束-->

<!--3.使用x删除当前-->
<!--	<div id="app3">
          <task :list="tasks"></task>
      </div>

      <template id="temp3">
        <div>
          <h2>统计黑色
            <span v-show="remaining">({{remaining}})</span>

          </h2>
          <ul v-if = "list.length">
            <li v-for="task,index in list"
                :class="{'on' : task.press}"
            >
              <span @click="task.press =!task.press">
                {{task.name}} ~~ {{task.plan}}
              </span>
              <strong @click="deleteTask(index)">X</strong>
            </li>
          </ul>
          <p v-else> nothing at all </p>
        </div>
      </template>

      <script>
          new Vue({
              el :"#app3",
              data : {
                  tasks : [
                      { name : 'zhang', plan : 'java', press : true},
                      { name : 'liang', plan : 'c++', press : false },
                      { name : 'lai', plan : 'php', press : false }
                  ]
              },
              components : {
                  'task' :{
                      template : "#temp3",
                      props : ['list'],
                      computed : {
                          remaining : function(){
                              return this.list.filter((task) => {
                                  return !this.isCompleted(task);
                              }).length;
                          }
                      },
                      methods :{
                          isCompleted : function(task){
                              return task.press;
                          },
                          deleteTask : function(index){
                              this.list.splice(index,1);
                          }
                      }

                  }
              }
          })
      </script>-->
<!--3.使用x删除当前结束-->

<!--4.使用全部清除-->
<!--<div id="app4">
  <task v-on:list-change="taskchange"></task>
</div>

<template id="temp4">
  <div>
    <h2>统计黑色
      <span v-show="remaining">({{remaining}})</span>
    </h2>
    <ul v-if = "list.length">
      <li v-for="task in list"
          :class="{'on' : task.press}"
      >
        <span @click="task.press =!task.press">
          {{task.name}} ~~ {{task.plan}}
        </span>
        <strong @click="deleteTask(task)">X</strong>
      </li>
    </ul>

    <p v-else> nothing at all </p>
    <button @click="deleteAll()">deleteAll</button>
  </div>
</template>

<script>
  new Vue({
    el :"#app4",
    data : {
      tasks : [
        { name : 'zhang', plan : 'java', press : true},
        { name : 'liang', plan : 'c++', press : false },
        { name : 'lai', plan : 'php', press : false }
      ]
    },
    methods: {
      taskchange: function(list) {
        this.tasks = list;
        console.log(list);
      },
    },
    components : {
      'task' :{
        template : "#temp4",
        computed : {
          remaining : function(){
            return this.list.filter((task) =>{
              return !this.isCompleted(task);
            }).length;
          },
          list: function () {
            return this.$parent._data.tasks;
          }
        },
        methods :{
          isCompleted : function(task){
            return task.press;
          },
          deleteTask : function(task){
            this.list.splice(index,1);
          },
          deleteAll : function(){
            var newlist = this.list.filter(this.isCompleted);
            this.$emit('list-change', newlist);
          }
        }
      }
    }
  })
</script>-->
<!--4.使用全部清除结束-->
</body>
</html>
