<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>组件使用实例1</title>
  <script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
  <style>
    #div1,#div2,#div3,#div4{
      margin: 10px;
      padding: 10px;
      border: 2px dashed #FF8190;
    }
    #div2 .active {
      color: #f33;
    }
  </style>
</head>
<body>
<!--1.利用v-for循环输出，并利用components进行注册-->
		<div id="div1">
			<div v-for="el in plans">
				<plan :plandata="el"></plan>
			</div>
		</div>

    <template id="temp">
      <div>
        <span>{{plandata.name}}</span>
        <span>{{plandata.price}}/month</span>
      </div>
    </template>

		<script>
			new Vue({
				el : "#div1",
				data : {
					plans : [
						{name:'enterprise',price : 100},
						{name:'pro',price : 50},
						{name:'personal',price : 10},
						{name:'free',price : 0}
					]
				},
				components : {
					plan : {
						template : "#temp",
						props : ['plandata'],
					}
				}
			})
		</script>
<!--1.利用v-for循环输出，并利用components进行注册结束-->


<!--2.用components进行注册，在component中设置data，并设置了方法-->
<!--<div id="div2">
        <div v-for="el in plans">
            <plan :plandata = "el"></plan>
        </div>
    </div>

    <template id="temp">
      <div>
        <span :class="{'active' : active}">{{plandata.name}}</span>
        <span>{{plandata.price}}/month</span>
        <button @click = "setActivePlan">upgreat</button>
      </div>
    </template>

    <script>
        new Vue({
            el : "#div2",
            data : {
                plans : [
                    {name:'enterprise',price : 100},
                    {name:'pro',price : 50},
                    {name:'personal',price : 10},
                    {name:'free',price : 0}
                ]
            },
            components : {
                plan : {
                    template : "#temp",
                    props : ['plandata'],
                    data : function(){
                        return {
                            active:false
                        }
                    },
                    methods : {
                        setActivePlan : function(){
                            this.active = !this.active;
                        }
                    }
                }
            }
        })
    </script>-->
<!--2.用components进行注册，并设置了方法结束-->


<!--3.用components进行注册，在父级上设置数据data，在子级中用prop调用-->
<!--		<div id="div3">
			<div v-for="el in plans">
				<plan :plandata = "el" :active="active"></plan>
			</div>
      <p>upgreat: {{active.name}}</p>
    </div>

		<template id="temp">
      <div>
        <span>{{plandata.name}}</span>
        <span>{{plandata.prise}}</span>
        <button @click="setActivePlan">upgreat</button>
      </div>
		</template>

		<script>
			new Vue({
				el : '#div3',
				data : {
					plans : [
						{name:'enterprise',prise:100},
						{name:'pro',prise:50},
						{name:'personal',prise:10},
						{name:'free',prise:0}
					],
					active:{
					  name: '',
            prise: ''
          }
				},
				components : {
					plan : {
						template : "#temp",
						props : ['plandata','active'],
						methods : {
							setActivePlan : function(){
							  Object.assign(this.active, this.plandata);
							}
						}
					}
				}
			});
		</script>-->
<!--3.用components进行注册，在父级上设置数据data，在子级中用prop调用-->


<!--4.用component进行注册，并用computed进行方法的设置-->
<!--		<div id="div4">
			<div v-for="el in plans">
				<plan :plandata="el" :active.sync="active"></plan>
			</div>
      <p>upgreat: {{active.name}}</p>
    </div>

		<template id="temp">
      <div>
        <span>{{plandata.name}}<span>
			<span>{{plandata.prise}}<span>
			<button @click="setActive">{{isUpgrade?'up':'down'}}</button>
      </div>
		</template>

		<script>
			new Vue({
				el : '#div4',
				data :{
					plans : [
						{name:'enterprise',prise:100},
						{name:'pro',prise:50},
						{name:'personal',prise:10},
						{name:'free',prise:0}
					],
					active :{
            name: '',
            prise: ''
					}
				},
				components : {
					plan : {
						template :'#temp',
						props : ['plandata','active'],
						computed : {
							isUpgrade : function(){
								return this.active.prise < this.plandata.prise
							}
						},
						methods : {
							setActive : function(){
                Object.assign(this.active, this.plandata);
              }
						}
					}
				}
			});
		</script>-->
<!--4.用component进行注册，并用computed进行方法的设置结束-->


<!--5.用component进行注册，并在template中进行逻辑判断-->
<!--<div id="div5">
  <div v-for="el in plans">
    <plan :plandata="el" :active="active"></plan>
  </div>
  <p>upgreat: {{active.name}}</p>
</div>

<template id="temp">
  <div>
    <span>{{plandata.name}}<span>
			<span>{{plandata.prise}}<span>
			<button @click="setActive" v-show="plandata.prise != active.prise">{{isUpgrade?'up':'down'}}</button>
			<span v-else>current</span>
  </div>
</template>

<script>
  new Vue({
    el : '#div5',
    data :{
      plans : [
        {name:'enterprise',prise:100},
        {name:'pro',prise:50},
        {name:'personal',prise:10},
        {name:'free',prise:0}
      ],
      active :{
        name: '',
        prise: ''
      }
    },
    components : {
      plan : {
        template :'#temp',
        props : ['plandata','active'],
        computed : {
          isUpgrade : function(){
            return this.active.prise < this.plandata.prise
          }
        },
        methods : {
          setActive : function(){
            Object.assign(this.active, this.plandata);
          }
        }
      }
    }
  });
</script>-->
<!--5.用component进行注册，并在template中进行逻辑判断结束 -->
</body>
</html>
