<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>组件样式绑定</title>
  <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
  <style>
    #div1{
      margin: 10px;
      padding: 10px;
      border: 2px dashed #FF8190;
    }
    .completedaa{
      color: red;
      text-decoration:line-through ;
    }
  </style>
</head>
<body>
<!--1.在父级绑定了属性-->
<!--		<div id="div1">
			<mytask :list="tasks"></mytask>
		</div>

		<template id="temp">
			<ul>
				<li :class="classobject" v-for="task in list">{{task.body}}</li>
			</ul>
		</template>

		<script>
			new Vue({
				el : "#div1",
				data : {
					tasks :[
						{body : 'wonderful girl', count : 10 },
						{body : 'lovely girl', count : 20 },
						{body : 'handsome boy', count : 30 },
						{body : 'rich boy', count : 40 }
					]
				},
				components : {
					mytask :{
						template : '#temp',
						props : ['list'],
						data : function(){
							return {
								classobject : {
									'completedaa' : true
								}
							}
						}
					}
				},
				methods : {
					clickchange : function(){

					}
				}
			})
		</script>-->
<!--1.在父级绑定了属性结束 -->

<!--2.对class进行操作-->
<div id="div2">
  <mycount :list = "tasks"></mycount>
</div>

<template id="temp">
  <ul>
    <li :class="activeaa"
        v-for="task in list"
    >
      {{task.body}}
    </li>
  </ul>
</template>

<script>
  new Vue({
    el : '#div2',
    data : {
      tasks : [
        {body:'my name is Appian', completed : false},
        {body:'I am a baby girl',completed : true},
        {body:'what about you',completed : false},
        {body:'do you like coding',completed : true}
      ],
      activeaa : {
        'completedaa' : true
      }
    },
    methods : {
      toggle : function(task){
        task.completed = !task.completed;
      }
    },
    components : {
      mycount :{
        template : "#temp",
        props : ['list'],
        data : function(){
          return {
            activeaa : {
              'completedaa' : true
            }
          }
        }
      }
    }
  })
</script>
<!--2.对class进行操作结束-->

</body>
</html>
