<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>测试组件的嵌套</title>
  <script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
</head>
<body>
<div id="vueInstance"></div>

<template id="firstblock">
  <div>
    <p>以下为测试数据:</p>
    <section>
      <ul>
        {{myday[0].src}}
        <mymount :d="myday"></mymount>
      </ul>
    </section>
  </div>
</template>

  <template id="secondblock">
    <div>
      <li v-for="i in d">
        {{i.src}}
        <button @click="click">点我试试 !</button>
      </li>
    </div>
  </template>


  <script type="text/javascript">
    var $data = {
      'day' : [{
        'src' : 'www.baidu.com'
      },{
        'src' : 'www.hao123.com'
      }]
    };


    var parentBlock = Vue.extend({
      template : '#firstblock',
      data : function(){
        return {
          'myday' : $data.day
        }
      },
      components : {
        'mymount' :{
          template : '#secondblock',
          props :['d'],
          methods : {
            'click' : function(){
              alert('1');
            }
          }
        }
      }
    });


    var model = new Vue({
      el : '#vueInstance',
      data :{
      },
      mounted : function(){
        console.log(new parentBlock().$mount().$el);
        document.getElementById('vueInstance').appendChild(new parentBlock().$mount().$el);
      }
    })
  </script>

</body>
</html>
